.splash-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 90vh;
  padding: 0% 10% 0% 10%;
  background-color: var(--light-blue);
  background-image: url('/backgrounds/layered-waves-haikei.svg');
}

.splash-summary {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 20px;
  max-width: 336px;
}

.splash-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 20px;
}

.splash-buttons a {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--deep-blue);
}

.splash-buttons img {
  width: 25px;
}

.splash-profile-picture {
  border: 10px solid var(--dark-blue);
  border-radius: 120px 60px 120px 60px;
  max-width: 400px;
}

@media (max-width: 828px) {
  .splash-page {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 20px 2.5% 0% 2.5%;
  }

  .splash-summary {
    text-align: center;
  }

  .splash-buttons {
    justify-content: center;
  }

  .splash-profile-picture {
    width: 95%;
    max-width: 336px;
  }
}
