.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0% 10% 0% 10%;
  background-color: var(--dark-blue);
}

.about-me-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 304px;
}

.about-me-grad-photo {
  border-radius: 30px;
  aspect-ratio: 8/9;
  width: 400px;
  max-width: 400px;
  background-color: #2B3742;
}

@media (max-width: 828px) {
  .about-me {
    flex-direction: column-reverse;
    padding: 0% 2.5% 0% 2.5%;
  }

  .about-me-text {
    text-align: center;
  }

  .about-me-grad-photo {
    width: 100%;
    max-width: 304px;
  }
}
