.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 10% 0% 10%;
  height: 10vh;
  background-color: var(--light-blue);
}

.navbar-background {
  display: flex;
  justify-content: center;
  gap: 5%;
  border-radius: 15px;
  padding: 25px;
  width: 100%;
}

.navbar-background p {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--white);
  margin-right: auto;
}

.navbar-background a {
  color: var(--white);
}

@media (max-width: 828px) {
  .navbar {
    flex-wrap: wrap;
    padding: 0% 2.5% 0% 2.5%;
  }

  .navbar-background p {
    display: none;
  }
}
