.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 0% 10% 0% 10%;
  height: 10vh;
  background-color: var(--light-blue);
}

.navbar p {
  margin-right: 25%;
}

@media (max-width: 828px) {
  .navbar {
    flex-wrap: wrap;
    padding: 0% 2.5% 0% 2.5%;
  }

  .navbar p {
    display: none;
  }
}
