.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 0% 10% 0% 10%;
  background-color: var(--dark-blue);
}

.skills-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  padding: 30px;
  width: 450px;
  background-color: var(--mid-blue);
}

@media (max-width: 828px) {
  .skills {
    padding: 0% 2.5% 0% 2.5%;
  }
  .skills-section {
    width: 100%;
    max-width: 450px;
  }
}
