.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 20px 10% 20px 10%;
  background-color: var(--deep-blue);
}

.footer-items {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-copyright {
  font-size: 0.75rem;
  font-weight: 400;
  color: darkgray;
}

@media (max-width: 828px) {
  .footer {
    padding: 20px 2.5% 20px 2.5%;
  }

  .footer-items {
    flex-wrap: wrap;
    gap: 4%;
  }
}
